#choices.container
  .row
    %a.span3.offset2.well{:href => "/dashboard"}
      = image_tag "sun.png"
      %h1 Dashboard
    %a.span3.offset1.well{:href => "/admin"}
      = image_tag "people.png"
      %h1 Admin Area