#dashboard.container
  %h4#go-back= link_to "&larr; Go back".html_safe, '/choices'
  .row
    %div.dbsection.span3.well
      %h2 Activated (7 days)
      %div 
        %h1= Company.percent_tracked_event(7, 'days')

    %div.dbsection.span3.well
      %h2 Activated (Prev. 7 days)
      %div 
        %h1= Company.percent_tracked_event_between(7, 14, 'days')
        
  .row
    %div.dbsection.span3.well
      %h2 Rev. Per Month
      %div 
        %h1= number_to_currency(StripeCharge.revenue_this_month, :unit => "$")

    %div.dbsection.span3.well
      %h2 Annualized Rev.
      %div 
        %h1= number_to_currency(StripeCharge.revenue_this_month * 12, :unit => "$")
        
    %div.dbsection.span3.well
      %h2 Total Customers
      %div 
        %h1= StripeCustomer.all_subscribed.count
    
  %div.dbsection
    %h2 Acquisition
    %table.table 
      %tr
        %th.range Month
        %th Uniques
        %th Conv. to Signup
        %th Conv. to Paid
        %th Still in trial
        %th % of Visitors
      - @ga = GAnalytics.new
      - (0..5).each do |m|
        %tr{:class => ('current' if m == 0)}
          %td.range= (Date.today - m.months).strftime("%b %Y")
          %td= @visitors = @ga.visitors_for_month((Date.today - m.months).strftime("%m"))
          %td= User.from_x_months_ago(m).count
          %td= paid = Company.subscribed_from_x_months_ago(m).count
          %td= Company.free_trial_from_x_months_ago(m).count
          %td= (paid.to_i / (@visitors.to_i == 0 ? 1 : @visitors.to_i))

  %div.dbsection
    %h2 Activation
    %table.table 
      %tr
        %th.range Range
        %th % Track Event
        %th % Sent Email
      
      - [7,14].each do |w|
        %tr
          %td.range #{w} Days
          %td= Company.percent_tracked_event(w, 'days')
          %td= Company.percent_sent_email(w, 'days')
        
  /%div.dbsection 
  /  %h2 Revenue
  /  %table.table
  /    %tr
  /      %th.range Range
  /      %th New Payments
  /      %th Total Payments
  /      %th Avg. New Payment Value
  /      %th Revenue
  /    - [7,14].each do |w|
  /      %tr
  /        %td.range #{w} Days
  /        %td= StripeCharge.new_since(w.days.ago).count
  /        %td= StripeCharge.total_since(w.days.ago).count
  /        %td= StripeCustomer.avg_new_value_since(w.days.ago)
  /        %td= number_to_currency(StripeCharge.revenue_since(w.days.ago), :unit => "$")
  /    -(0..5).each do |m|
  /      %tr{:class => ('current' if m == 0)}
  /        %td.range= (Date.today - m.month).strftime("%b %Y")
  /        %td= StripeCharge.new_for_x_months_ago(m).count
  /        %td= StripeCharge.total_for_x_months_ago(m).count
  /        %td= StripeCustomer.avg_new_value_for_x_months_ago(m)
  /        %td= number_to_currency(StripeCharge.revenue_for_x_months_ago(m), :unit => "$")

  %div.dbsection 
    %h2 Blogging
    %table
      %tr
        %th.post Post URL
        %th Total Uniques
      
      - ga = GAnalytics.new
      - posts = ga.visitors_by_blog_post
      - posts.each do |k,v|
        %tr
          %td.post= k
          %td= v
  

