#dashboard
  #go-back
    padding-bottom: 40px
  h2
    margin-bottom: 15px
  table
    width: auto
  td, th
    width: 150px
    &.range
      width: 200px
      font-weight: bold
    &.post
      width: auto !important
  tr.current 
    td
      background: lightgreen